
    <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SocketProjectPrac</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
    <form action="/posting" method="post" enctype="multipart/form-data" >
       <div> <label for="title">Title</label>
        <input type="text" name="title" id="title"> </div>
    <div>
        <label for="image">Image</label>
        <input type="file" name="photo" id="image">
    </div>
    <button type="submit">Add Blog</button>
  </form>
